.header-site {
    /*background-image: url("http://www.ung.br/sites/ung.br/files/fields/imagemTopo/noticias/2018/10/26019695554_818f6ebd2e_k.jpg");*/
    background-image: url("https://picsum.photos/1360/768?random=1");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 300px;
    padding-bottom: 300px;
}

.content-site {
    padding-top: 200px;
    padding-bottom: 200px;
}

.img-site {
    background-image: url("https://picsum.photos/1360/768?random=2");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #ffffff;
}

.footer {
    background-color: #333333;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.img-thumbnail img {
    width: 100%;
}